@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}

img{
    vertical-align: bottom;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:visited{
    color: #788d98;
}

a:hover{
    text-decoration: underline;
}

.glabal-nav{
    list-style: none;
    display: flex;
}

.glabal-nav li {
    margin-left: 36px;
}

.page-header{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    /* padding-top: 30px; */
    margin-top: 30px;
}

footer{
    text-align: center;
}

footer p{
    color: #ffffff;
}

/* index */
#index{
    background-image: url(images/bg-index.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#index h1{
    font-size: 100px;
    line-height: 1;
    color: #ffffff;
    font-family: 'Bitter', serif;
    margin-bottom: 50px;
}

#index .content{
    margin-top: 150px;
    /* background-color: aqua */
}

#index p{
    font-size: 16px;
    color: #ffffff;
}

.btn a{
    width: 185px;
    display: block;
    background-color: #009cd3;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bitter', serif;
    text-align: center;
    line-height: 50px;
    margin-top: 20px;
    border-radius: 5px;
    border: 3px solid #009cd3;
}

.btn a:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #009cd3;
}

#index footer{
    margin: 150px auto;
    text-align: left;
}