@charset "UTF-8";
body{
    margin: 0;
    padding: 0;
    background-color: #cccccc;
    color: #333333;
    font-size: 15px;
    line-height: 2;
}

.wrapper{
    max-width: 960px;
    margin: 0 auto;
}

p, h1, h2, h3, h4, h5, h6{
    margin-top: 0;
}

img{
    vertical-align: bottom;
}

ul{
    margin: 0;
    padding: 0;
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:visited{
    color: #788d98;
}

a:hover{
    text-decoration: underline;
}

.glabal-nav{
    list-style: none;
    display: flex;
}

.glabal-nav li {
    margin-left: 36px;
}

.page-header{
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
}

footer{
    text-align: center;
}

footer p{
    color: #ffffff;
}